{# cs_tasks/_subnav.html #}
{% load i18n %}
<div class="subnav">
    <a href="{% url 'cs_tasks:index' %}?cat=incident"
       class="incident {% if active_tab == 'incident' %}active{% endif %}">
        <svg class="ic"><use href="#ic-tag"/></svg>{% trans "クレーム・インシデント (Bad News First)" %}
    </a>
    <a href="{% url 'cs_tasks:index' %}?cat=existing"
       class="{% if active_tab == 'existing' %}active{% endif %}">
        <svg class="ic"><use href="#ic-list"/></svg>{% trans "既存顧客課題" %}
    </a>
    <a href="{% url 'cs_tasks:index' %}?cat=new"
       class="{% if active_tab == 'new' %}active{% endif %}">
        <svg class="ic"><use href="#ic-clipboard"/></svg>{% trans "新規顧客課題" %}
    </a>
    <a href="{% url 'cs_tasks:index' %}?cat=internal"
       class="{% if active_tab == 'internal' %}active{% endif %}">
        <svg class="ic"><use href="#ic-users"/></svg>{% trans "部内課題" %}
    </a>
    <a href="{% url 'cs_tasks:report' %}"
       class="{% if active_tab == 'report' %}active{% endif %}">
        <svg class="ic"><use href="#ic-chart"/></svg>{% trans "レポート" %}
    </a>

    {% if request.user.is_superuser or request.user.is_staff %}
        <a href="{% url 'cs_tasks:mailing_list' %}"
           class="{% if active_tab == 'mailing_list' %}active{% endif %}">
            <svg class="ic"><use href="#ic-mail"/></svg>{% trans "メーリングリスト" %}
        </a>
        <a href="{% url 'cs_tasks:weekly_report' %}"
           class="{% if active_tab == 'weekly_report' %}active{% endif %}">
            <svg class="ic"><use href="#ic-chart"/></svg>{% trans "週報" %}
        </a>
    {% endif %}
</div>
